#Search {
  background-color: #F05013;
}

#Submit {
  background-color: #F05013;
}

h2 {
  font-family: courier;
}

#input {
  background-color: #3FCEEB;
}

#creator {
  background-color: #F7ED5C;
}

#searcher {
  background-color: #F75CB4;
}