#Search {
  background-color: #F05013;
}

#Submit {
  background-color: #F05013;
}

h2 {
  font-family: courier;
}

#input:hover {
  background-color: #F75CB4;
}

#creator {
  background-color: #F7ED5C;
}

#searcher {
  background-color: #F75CB4;
}

#firstname:hover, #lastname:hover, #email:hover, #phone:hover {
  background-color:  #F7ED5C;
}

