<!-- <h1>Contact List</h1>
<form id="target" action="destination.html">
  <input type="text" value="">
  <input type="submit" value="Go">
</form>
<div id="other">
  Search 
</div>

<h2>Submit a Contact</h2>
<button type="button" onclick="loadXMLDoc()">Enter</button>
<div id="myDiv"></div>
 -->
<hr>
  <a href="/list">Show all contacts</a>
<hr>
<div id="creator">
<form action="demo_form.asp">
    <h2>Create Contact</h2>
    First name: <input type="text" id="firstname"><br>
    Last name: <input type="text" id="lastname"><br>
    Email: <input type="text" id="email"><br>
    Phone: <input type="integer" id="phone"><br>
    <input type="button" id="Submit" value="Submit">
</form>
</div>
<div id="searcher">
<form action="" id="search-form">
    <h2>Look for a Contact</h2>
    <fieldset>
        <input type="text" id="input" name="search" />
        <input type="button" id="Search" value="Search" />
    </fieldset>
</form>
</div>

<div>
  <h2>Results</h2>
  <span id="result_first_name"></span>
  <span id="result_last_name"></span>
  <span id="result_email"></span>
  <span id="result_phone"></span>
</div>